<div class="coursesComponent">
    <div class="container">
        <mini-nav></mini-nav>
    </div>
    <div class="row">
        <div class="coursesCategory">
            <h1 class="container">{{ topic.title }}</h1>
        </div>
        <div class="container coursesCarousel">
            <ul class="row ">
                <a class="btn btn-default" routerLink="/most-popular">
                    Most Popular
                </a>
                <a class="btn btn-default" routerLink="/trending">
                    Trending
                </a>
            </ul>
            <ul class="row carouselItems">
                <div class="col carouselItem" *ngFor="let course of courses">
                    <a [routerLink]="['/course',course['id']]">
                        <div class="card">
                            <img [src]="course.imgUrl" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-title">{{ course.title | slice:0:30}}</p>
                                <p class="card-text">{{ course.author | slice:0:25}}</p>
                                <div class="card-text rating">
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star filled"></i>
                                    <i class="fa fa-star unfilled"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </ul>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12 all-courses">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <!-- <div class="col-xs-2">
                                <img src="../../assets/image-1.png" alt="">
                            </div>
                            <div class="col-xs-10">Details</div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>